{%
    set page = {
        "title": "home",
        "page": "home",
        "bodyClass": "page-home-body",
        "headerClass": "page-home-header"
    }
%}

{% extends "src/template.html" %}





{% block content %}

    <!--<h1>Home page</h1>-->
    <!--<div>-->
        @{% include 'src/templates/_block-item.html' %}
    <!--</div>-->


@{%
    set testItem = [
        {
            "item": "Item-01"
        },
        {
            "item": "Item-03"
        }
    ]
%}
    <!--<div class="block-item">-->
        <!--<ul>-->
            @{% for item in testItem %}
            <li> {{ item.item }} </li>
            @{% endfor %}
        <!--</ul>-->
    <!--</div>-->

    <!--<div id="app"></div>-->


    <!--<img inline src="./../assets/img/icon-marker.svg">-->
    <!---->
{% endblock %}
