{%
    set page = {
        "title": "home",
        "page": "home",
        "bodyClass": "page-home-body",
        "headerClass": "page-home-header"
    }
%}

{% extends "src/template.html" %}

{% block content %}

    <h1>Home page</h1>

    <div class="block-item">
        <h3>Inline svg</h3>
        <div class="svg-wrapper">
            <img inline src="./../assets/img/icon-marker.svg">
        </div>
    </div>
    
    <div class="block-item">
        <h3>Vue components</h3>
        <div id="app"></div>
    </div>

    
    <div class="block-item">
        <h3>Arrow item</h3>
        {% set testItem = ["Item_02", "Item_02"] %}

        <div>
            <ul>
                {% for item in testItem %}
                    <li> {{ item }} </li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}  

