// ---- animation ---- //

//@keyframes anim {
//
//}

// ---- end animation ---- //


// ---- global ---- //

*, body {
	font-family: $roboto-reg;
	font-size: $f-size;
	color: $col;
}

// ---- end global ---- //


// ---- components ---- //

//.btn {
//  width: 100px;
//  height: 20px;
//  background: green;
//    color: yellow;
//    &:hover {
//      background: red;
//    }
//}

// ---- end components ---- //

