@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$roboto-reg: 'Roboto-Regular', Arial, Helvetica, sans-serif;