// ---- variables ---- //

$min-width: 320px;
$max-width: 1380px;

$bg-col: #ffffff;
$bg-col_01: #e2e2e2;

$col: #000000;
$col_01: #808080;

$f-fam: 'Arial', sans-serif;
$f-fam_01: 'Roboto', sans-serif;

$f-size: 16px;
$f-size_01: 18px;