.header {
  padding: 20px;
  background-color: #e2e2e2;
  border-bottom: 1px solid #808080;
  .header-nav-list {
    display: flex;
  }
  .header-nav-item {
    padding: 5px 20px;
    color: #000000;
    &.header-nav-item_active {
      color: green;
    }
  }

}